use master;


USE eFut;
GO
/****** Object:  StoredProcedure [dbo].[AUDITORIA_CRIA_TABELAS_E_TRIGGERS]    Script Date: 06/11/2024 15:49:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Elizângela da Silva Ferreira>
-- Create date: <24/05/2015>
-- Description:	<>
-- =============================================
CREATE OR ALTER  PROCEDURE [dbo].[AUDITORIA_CRIA_TABELAS_E_TRIGGERS]
	@TABELA VARCHAR(MAX)
AS
BEGIN

	SET NOCOUNT ON;

	DECLARE @COLUNA VARCHAR(MAX)
		,@SCRIPT_TABELA VARCHAR(MAX)
		,@SCRIPT_TABELA_TEMPORARIA VARCHAR(MAX)
		,@SCRIPT_CRIA_TRIGGER VARCHAR(MAX)
		,@CHAVE_PRIMARIA VARCHAR(MAX)
		,@CHAVE_PRIMARIA_TRIGGER VARCHAR(8000)
		,@TIPO_CAMPO VARCHAR(MAX)
		,@SCRIPT_SELECT_TRIGGER_INSERT VARCHAR(max)
		,@SCRIPT_SELECT_TRIGGER_UPDATE VARCHAR(max)
		,@SCRIPT_SELECT_TRIGGER_DELETE VARCHAR(max)
		,@SCRIPT_INSERT_TRIGGER VARCHAR(max)
		,@ORDEM INT
		,@TEMP VARCHAR (MAX)
		, @COMANDO VARCHAR(MAX);;

	SET @CHAVE_PRIMARIA='';
	SET @SCRIPT_SELECT_TRIGGER_INSERT='';
	SET @SCRIPT_SELECT_TRIGGER_UPDATE='';
	SET @SCRIPT_SELECT_TRIGGER_DELETE='';
	SET @SCRIPT_INSERT_TRIGGER='';
	SET @CHAVE_PRIMARIA_TRIGGER='';
	SET @SCRIPT_TABELA_TEMPORARIA='';


	IF EXISTS (SELECT * FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_SCHEMA='dbo' AND TABLE_NAME=@TABELA+'_AUDITORIA')
	BEGIN
		SET @COMANDO=''
		SELECT @COMANDO+=
			CASE
			WHEN T_AUDITORIA.TABLE_NAME IS NULL 
			THEN '
			ALTER TABLE ['+T.TABLE_SCHEMA+'].['+T.TABLE_NAME+'] ADD '+T_AUDITADA.COLUMN_NAME+'_OLD '+T_AUDITADA.DATA_TYPE+IIF(T_AUDITADA.DATA_TYPE IN ('varchar','nvarchar','char','nchar','varbinary'),'('+IIF(T_AUDITADA.CHARACTER_MAXIMUM_LENGTH=-1,'MAX',CAST(T_AUDITADA.CHARACTER_MAXIMUM_LENGTH AS VARCHAR))+')','')+' NULL;
			ALTER TABLE ['+T.TABLE_SCHEMA+'].['+T.TABLE_NAME+'] ADD '+T_AUDITADA.COLUMN_NAME+'_NEW '+T_AUDITADA.DATA_TYPE+IIF(T_AUDITADA.DATA_TYPE IN ('varchar','nvarchar','char','nchar','varbinary'),'('+IIF(T_AUDITADA.CHARACTER_MAXIMUM_LENGTH=-1,'MAX',CAST(T_AUDITADA.CHARACTER_MAXIMUM_LENGTH AS VARCHAR))+')','')+' NULL;'
			WHEN T_AUDITADA.DATA_TYPE+IIF(T_AUDITADA.DATA_TYPE IN ('varchar','nvarchar','char','nchar','varbinary'),'('+IIF(T_AUDITADA.CHARACTER_MAXIMUM_LENGTH=-1,'MAX',CAST(T_AUDITADA.CHARACTER_MAXIMUM_LENGTH AS VARCHAR))+')','')<>T_AUDITORIA.DATA_TYPE+IIF(T_AUDITORIA.DATA_TYPE IN ('varchar','nvarchar','char','nchar','varbinary'),'('+IIF(T_AUDITORIA.CHARACTER_MAXIMUM_LENGTH=-1,'MAX',CAST(T_AUDITORIA.CHARACTER_MAXIMUM_LENGTH AS VARCHAR))+')','')
			THEN '
			ALTER TABLE ['+T.TABLE_SCHEMA+'].['+T.TABLE_NAME+'] ALTER COLUMN '+T_AUDITORIA.COLUMN_NAME+' '+T_AUDITADA.DATA_TYPE+IIF(T_AUDITADA.DATA_TYPE IN ('varchar','nvarchar','char','nchar','varbinary'),'('+IIF(T_AUDITADA.CHARACTER_MAXIMUM_LENGTH=-1,'MAX',CAST(T_AUDITADA.CHARACTER_MAXIMUM_LENGTH AS VARCHAR))+')','')+' NULL'
			END 
		FROM INFORMATION_SCHEMA.COLUMNS T_AUDITADA
		JOIN INFORMATION_SCHEMA.TABLES T
			ON T_AUDITADA.TABLE_NAME NOT LIKE '%_AUDITORIA'
			AND T.TABLE_NAME LIKE '%_AUDITORIA'
			AND T.TABLE_SCHEMA = T_AUDITADA.TABLE_SCHEMA
			AND T.TABLE_NAME = T_AUDITADA.TABLE_NAME+'_AUDITORIA'
		LEFT JOIN INFORMATION_SCHEMA.COLUMNS T_AUDITORIA
			ON T_AUDITADA.TABLE_NAME NOT LIKE '%_AUDITORIA'
			AND T_AUDITORIA.TABLE_NAME LIKE '%_AUDITORIA'
			AND T_AUDITORIA.TABLE_SCHEMA = T_AUDITADA.TABLE_SCHEMA
			AND T_AUDITORIA.TABLE_NAME = T_AUDITADA.TABLE_NAME+'_AUDITORIA'
			AND (T_AUDITORIA.COLUMN_NAME= T_AUDITADA.COLUMN_NAME+'_NEW' OR T_AUDITORIA.COLUMN_NAME= T_AUDITADA.COLUMN_NAME+'_OLD')
		WHERE T_AUDITADA.TABLE_NAME=ISNULL(REPLACE(@TABELA,'dbo.',''),T_AUDITADA.TABLE_NAME)
			AND T_AUDITADA.DATA_TYPE NOT IN ('text', 'ntext', 'image')
			AND ISNULL(T_AUDITADA.CHARACTER_MAXIMUM_LENGTH,1)>0
			AND (
					T_AUDITADA.DATA_TYPE+IIF(T_AUDITADA.DATA_TYPE IN ('varchar','nvarchar','char','nchar','varbinary'),'('+IIF(T_AUDITADA.CHARACTER_MAXIMUM_LENGTH=-1,'MAX',CAST(T_AUDITADA.CHARACTER_MAXIMUM_LENGTH AS VARCHAR))+')','')
					<>
					T_AUDITORIA.DATA_TYPE+IIF(T_AUDITORIA.DATA_TYPE IN ('varchar','nvarchar','char','nchar','varbinary'),'('+IIF(T_AUDITORIA.CHARACTER_MAXIMUM_LENGTH=-1,'MAX',CAST(T_AUDITORIA.CHARACTER_MAXIMUM_LENGTH AS VARCHAR))+')','')
					OR T_AUDITORIA.TABLE_NAME IS NULL
				)
			AND ISNULL(T_AUDITADA.CHARACTER_MAXIMUM_LENGTH,1)>0;
		--PRINT @COMANDO
		EXEC (@COMANDO);
		--PRINT '1'
		
		SET @COMANDO=''
		SELECT --@COMANDO+=
			CASE
			WHEN T_AUDITORIA.TABLE_NAME IS NULL 
			THEN '
			ALTER TABLE ['+T.TABLE_SCHEMA+'].['+T.TABLE_NAME+'] ADD '+T_AUDITADA.COLUMN_NAME+'_OLD '+T_AUDITADA.DATA_TYPE+IIF(T_AUDITADA.DATA_TYPE IN ('varchar','nvarchar','char','nchar','varbinary'),'('+IIF(T_AUDITADA.CHARACTER_MAXIMUM_LENGTH=-1,'MAX',CAST(T_AUDITADA.CHARACTER_MAXIMUM_LENGTH AS VARCHAR))+')','')+' NULL;
			ALTER TABLE ['+T.TABLE_SCHEMA+'].['+T.TABLE_NAME+'] ADD '+T_AUDITADA.COLUMN_NAME+'_NEW '+T_AUDITADA.DATA_TYPE+IIF(T_AUDITADA.DATA_TYPE IN ('varchar','nvarchar','char','nchar','varbinary'),'('+IIF(T_AUDITADA.CHARACTER_MAXIMUM_LENGTH=-1,'MAX',CAST(T_AUDITADA.CHARACTER_MAXIMUM_LENGTH AS VARCHAR))+')','')+' NULL;'
			WHEN T_AUDITADA.DATA_TYPE+IIF(T_AUDITADA.DATA_TYPE IN ('varchar','nvarchar','char','nchar','varbinary'),'('+IIF(T_AUDITADA.CHARACTER_MAXIMUM_LENGTH=-1,'MAX',CAST(T_AUDITADA.CHARACTER_MAXIMUM_LENGTH AS VARCHAR))+')','')<>T_AUDITORIA.DATA_TYPE+IIF(T_AUDITORIA.DATA_TYPE IN ('varchar','nvarchar','char','nchar','varbinary'),'('+IIF(T_AUDITORIA.CHARACTER_MAXIMUM_LENGTH=-1,'MAX',CAST(T_AUDITORIA.CHARACTER_MAXIMUM_LENGTH AS VARCHAR))+')','')
			THEN '
			ALTER TABLE ['+T.TABLE_SCHEMA+'].['+T.TABLE_NAME+'] ALTER COLUMN '+T_AUDITORIA.COLUMN_NAME+' '+T_AUDITADA.DATA_TYPE+IIF(T_AUDITADA.DATA_TYPE IN ('varchar','nvarchar','char','nchar','varbinary'),'('+IIF(T_AUDITADA.CHARACTER_MAXIMUM_LENGTH=-1,'MAX',CAST(T_AUDITADA.CHARACTER_MAXIMUM_LENGTH AS VARCHAR))+')','')+' NULL'
			END 
		FROM INFORMATION_SCHEMA.COLUMNS T_AUDITADA
		JOIN INFORMATION_SCHEMA.TABLES T
			ON T_AUDITADA.TABLE_NAME NOT LIKE '%_AUDITORIA'
			AND T.TABLE_NAME LIKE '%_AUDITORIA'
			AND T.TABLE_SCHEMA = T_AUDITADA.TABLE_SCHEMA
			AND T.TABLE_NAME = T_AUDITADA.TABLE_NAME+'_AUDITORIA'
		LEFT JOIN INFORMATION_SCHEMA.COLUMNS T_AUDITORIA
			ON T_AUDITADA.TABLE_NAME NOT LIKE '%_AUDITORIA'
			AND T_AUDITORIA.TABLE_NAME LIKE '%_AUDITORIA'
			AND T_AUDITORIA.TABLE_SCHEMA = T_AUDITADA.TABLE_SCHEMA
			AND T_AUDITORIA.TABLE_NAME = T_AUDITADA.TABLE_NAME+'_AUDITORIA'
			AND (T_AUDITORIA.COLUMN_NAME= T_AUDITADA.COLUMN_NAME+'_NEW' OR T_AUDITORIA.COLUMN_NAME= T_AUDITADA.COLUMN_NAME+'_OLD')
		WHERE T_AUDITORIA.TABLE_NAME IS NULL
			AND T_AUDITADA.DATA_TYPE NOT IN ('text', 'ntext', 'image')
			AND ISNULL(T_AUDITADA.CHARACTER_MAXIMUM_LENGTH,1)>0
			AND T_AUDITADA.TABLE_NAME = ISNULL(REPLACE(@TABELA,'dbo.',''),T_AUDITADA.TABLE_NAME);

		--PRINT @COMANDO
		EXEC (@COMANDO);
		--PRINT '1'

		SET @COMANDO=''
		SELECT 
			@COMANDO+='
			ALTER TABLE '+T_AUDITORIA.TABLE_SCHEMA+'.'+T_AUDITORIA.TABLE_NAME+' DROP COLUMN '+T_AUDITORIA.COLUMN_NAME+';
			ALTER TABLE '+T_AUDITORIA.TABLE_SCHEMA+'.'+T_AUDITORIA.TABLE_NAME+' DROP COLUMN '+T_AUDITORIA.COLUMN_NAME+';'
		FROM INFORMATION_SCHEMA.COLUMNS T_AUDITADA
		JOIN INFORMATION_SCHEMA.TABLES T
			ON T_AUDITADA.TABLE_NAME NOT LIKE '%_AUDITORIA'
			AND T.TABLE_NAME LIKE '%_AUDITORIA'
			AND T.TABLE_SCHEMA = T_AUDITADA.TABLE_SCHEMA
			AND T.TABLE_NAME = T_AUDITADA.TABLE_NAME+'_AUDITORIA'
		RIGHT JOIN INFORMATION_SCHEMA.COLUMNS T_AUDITORIA
			ON T_AUDITADA.TABLE_NAME NOT LIKE '%_AUDITORIA'
			AND T_AUDITORIA.TABLE_NAME LIKE '%_AUDITORIA'
			AND T_AUDITORIA.TABLE_SCHEMA = T_AUDITADA.TABLE_SCHEMA
			AND T_AUDITORIA.TABLE_NAME = T_AUDITADA.TABLE_NAME+'_AUDITORIA'
			AND (T_AUDITORIA.COLUMN_NAME= T_AUDITADA.COLUMN_NAME+'_NEW' OR T_AUDITORIA.COLUMN_NAME= T_AUDITADA.COLUMN_NAME+'_OLD')
		WHERE  T_AUDITADA.TABLE_NAME = ISNULL(REPLACE(@TABELA,'dbo.',''),T_AUDITADA.TABLE_NAME)
			AND T_AUDITADA.DATA_TYPE NOT IN ('text', 'ntext', 'image')
			AND ISNULL(T_AUDITADA.CHARACTER_MAXIMUM_LENGTH,1)>0
			AND T_AUDITADA.TABLE_NAME IS NULL AND (T_AUDITORIA.COLUMN_NAME LIKE '%_OLD' or T_AUDITORIA.COLUMN_NAME LIKE '%_NEW');

		--PRINT @COMANDO
		EXEC (@COMANDO);
		--PRINT '1'

		SET @COMANDO=''
	END

	SET @SCRIPT_TABELA ='
			CREATE TABLE dbo.'+REPLACE(@TABELA,'dbo.','')+'_AUDITORIA(
				[AUDITORIA_ID] [int] IDENTITY(1,1) NOT NULL,
				[AUDITORIA_DB_NAME] [varchar](50) NOT NULL,
				[AUDITORIA_DATA] [datetime] NOT NULL,
				[AUDITORIA_TIPO] [int] NOT NULL,
				[AUDITORIA_HOSTNAME] [varchar](50) NOT NULL,
				[AUDITORIA_USUARIO] [varchar](14) NULL,
				[AUDITORIA_USUARIO_BD] VARCHAR(MAX) NOT NULL,
				[AUDITORIA_IP_USUARIO] [varchar](20) NULL,
				[AUDITORIA_IP_CLIENTE] [varchar](20) NOT NULL,
				[PROGRAM_NAME] VARCHAR(MAX) NULL,
				';

	DECLARE [INFO_TABELA] CURSOR FOR 
	SELECT
		C.TABLE_NAME TABELA
		,C.COLUMN_NAME COLUNA
		,'['+C.DATA_TYPE+']'+CASE 
		WHEN C.DATA_TYPE IN ('varchar','nchar','char','nvarchar','varbinary') 
		THEN ' (' + (CASE WHEN C.CHARACTER_MAXIMUM_LENGTH = -1 THEN 'MAX' ELSE CAST(C.CHARACTER_MAXIMUM_LENGTH AS VARCHAR) END) + ')' 
		WHEN C.DATA_TYPE IN ('decimal', 'numeric') 
		THEN ' (' + CAST(C.NUMERIC_PRECISION AS VARCHAR)+','+CAST(C.NUMERIC_SCALE AS VARCHAR) + ')'
		ELSE '' 
		END TIPO_CAMPO
		,C.ORDINAL_POSITION ORDEM
	FROM INFORMATION_SCHEMA.TABLE_CONSTRAINTS TC
	JOIN INFORMATION_SCHEMA.CONSTRAINT_COLUMN_USAGE CU
		ON CU.CONSTRAINT_NAME=TC.CONSTRAINT_NAME
	JOIN INFORMATION_SCHEMA.COLUMNS C
		ON CU.COLUMN_NAME=C.COLUMN_NAME
		AND CU.TABLE_NAME=C.TABLE_NAME
	WHERE C.TABLE_NAME = REPLACE(@TABELA,'dbo.','') 
		AND TC.CONSTRAINT_TYPE='PRIMARY KEY'
		AND C.DATA_TYPE NOT IN ('text', 'ntext', 'image')
		AND ISNULL(C.CHARACTER_MAXIMUM_LENGTH,1)>0
	ORDER BY ORDEM

	OPEN [INFO_TABELA]
	FETCH NEXT FROM [INFO_TABELA] 
		INTO @TABELA
			,@COLUNA
			,@TIPO_CAMPO
			,@ORDEM
	WHILE @@FETCH_STATUS = 0
	BEGIN
		SET @SCRIPT_TABELA_TEMPORARIA=@SCRIPT_TABELA_TEMPORARIA+'['+@COLUNA+'] '+@TIPO_CAMPO+',
				';
		SET @CHAVE_PRIMARIA=@CHAVE_PRIMARIA+@COLUNA+', ';

		SET @CHAVE_PRIMARIA_TRIGGER = @CHAVE_PRIMARIA_TRIGGER+'I.'+@COLUNA+'=D.'+@COLUNA+'
			AND ';
		FETCH NEXT FROM [INFO_TABELA] 
		INTO @TABELA
			,@COLUNA
			,@TIPO_CAMPO
			,@ORDEM
	END;
	CLOSE [INFO_TABELA];
	DEALLOCATE [INFO_TABELA];

	SET @CHAVE_PRIMARIA_TRIGGER=SUBSTRING(@CHAVE_PRIMARIA_TRIGGER,1,LEN(@CHAVE_PRIMARIA_TRIGGER)-7);

	/*************************************************************************************************************/

	DECLARE [INFO_TABELA] CURSOR FOR 
	SELECT
		[C].[TABLE_NAME] AS [TABELA]
		,[C].[COLUMN_NAME] AS [COLUNA]
		,'['+[C].[DATA_TYPE]+']'+CASE 
		WHEN [C].[DATA_TYPE] IN ('varchar','nchar','char','nvarchar','varbinary') 
		THEN ' (' + (CASE WHEN [C].[CHARACTER_MAXIMUM_LENGTH] = -1 THEN 'MAX' ELSE CAST([C].[CHARACTER_MAXIMUM_LENGTH] AS VARCHAR) END) + ')' 
		WHEN [C].[DATA_TYPE] IN ('decimal', 'numeric') 
		THEN ' (' + CAST([C].[NUMERIC_PRECISION] AS VARCHAR)+','+CAST([C].[NUMERIC_SCALE] AS VARCHAR) + ')'
		ELSE '' 
		END [TIPO_CAMPO]
		,[C].[ORDINAL_POSITION] [ORDEM]
	FROM INFORMATION_SCHEMA.COLUMNS [C]
	WHERE [C].[TABLE_NAME] = REPLACE(@TABELA,'dbo.','') 
	AND [C].[DATA_TYPE] NOT IN ('text', 'ntext', 'image')
	AND ISNULL(C.CHARACTER_MAXIMUM_LENGTH,1)>0
	ORDER BY [ORDEM]
		
	OPEN [INFO_TABELA]
	FETCH NEXT FROM [INFO_TABELA] 
		INTO @TABELA
			,@COLUNA
			,@TIPO_CAMPO
			,@ORDEM
	WHILE @@FETCH_STATUS = 0
	BEGIN
		SET @SCRIPT_TABELA=@SCRIPT_TABELA+'
			['+@COLUNA+'_OLD] '+@TIPO_CAMPO+', ['+@COLUNA+'_NEW] '+@TIPO_CAMPO+',
			';
		FETCH NEXT FROM [INFO_TABELA] 
		INTO @TABELA
			,@COLUNA
			,@TIPO_CAMPO
			,@ORDEM
	END;
	CLOSE [INFO_TABELA];
	DEALLOCATE [INFO_TABELA];
	
	SET @SCRIPT_TABELA=SUBSTRING(@SCRIPT_TABELA,1,LEN(@SCRIPT_TABELA)-6);
		
	DROP TABLE IF EXISTS #TEMP;

	CREATE TABLE #TEMP
	([NAME] VARCHAR(MAX), [FILEID] INT, [FILENAME] VARCHAR(MAX),FILEGROUP VARCHAR(MAX),SIZE VARCHAR(MAX),MAXSIZE VARCHAR(MAX),GROWTH VARCHAR(MAX),USAGE VARCHAR(MAX))
	INSERT INTO #TEMP
	EXEC SP_HELPFILE;

	IF (SELECT COUNT(*) FROM #TEMP WHERE FILEGROUP='FG_AUDITORIA')>0
	BEGIN
		SET @SCRIPT_TABELA=@SCRIPT_TABELA+'
		,PRIMARY KEY (AUDITORIA_ID)
		) ON [FG_AUDITORIA];
				';
	END
	ELSE
	BEGIN
		SET @SCRIPT_TABELA=@SCRIPT_TABELA+'
		,PRIMARY KEY (AUDITORIA_ID)
		);
				';
	END

	SET @SCRIPT_TABELA='
		IF NOT EXISTS (SELECT * FROM INFORMATION_SCHEMA.TABLES
		WHERE TABLE_SCHEMA=''dbo''
		AND TABLE_NAME='''+REPLACE(@TABELA,'dbo.','')+'_AUDITORIA'')
		BEGIN'+
		@SCRIPT_TABELA+'
		END';

	DROP TABLE IF EXISTS #TEMP;

	
	IF NOT EXISTS (SELECT * FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_SCHEMA='dbo' AND TABLE_NAME=@TABELA+'_AUDITORIA')
	BEGIN
	--PRINT @SCRIPT_TABELA;
	EXEC (@SCRIPT_TABELA);
	--PRINT '2'
	END
	
	/**********************************************************************************************************/
		
	DECLARE [INFO_TABELA] CURSOR FOR 
	SELECT
		[C].[TABLE_NAME] AS [TABELA]
		,[C].[COLUMN_NAME] AS [COLUNA]
		,'['+[C].[DATA_TYPE]+']'+CASE 
		WHEN [C].[DATA_TYPE] IN ('varchar','nchar','char','nvarchar','varbinary') 
		THEN ' (' + (CASE WHEN [C].[CHARACTER_MAXIMUM_LENGTH] = -1 THEN 'MAX' ELSE CAST([C].[CHARACTER_MAXIMUM_LENGTH] AS VARCHAR) END) + ')' 
		WHEN [C].[DATA_TYPE] IN ('decimal', 'numeric') 
		THEN ' (' + CAST([C].[NUMERIC_PRECISION] AS VARCHAR)+','+CAST([C].[NUMERIC_SCALE] AS VARCHAR) + ')'
		ELSE '' 
		END [TIPO_CAMPO]
		,[C].[ORDINAL_POSITION] [ORDEM]
	FROM INFORMATION_SCHEMA.COLUMNS [C]
	WHERE [C].[TABLE_NAME] = REPLACE(@TABELA,'dbo.','') 
	AND [C].[DATA_TYPE] NOT IN ('text', 'ntext', 'image')
	AND ISNULL(C.CHARACTER_MAXIMUM_LENGTH,1)>0
	ORDER BY [ORDEM]
	
	OPEN [INFO_TABELA]
	FETCH NEXT FROM [INFO_TABELA] 
		INTO @TABELA
			,@COLUNA
			,@TIPO_CAMPO
			,@ORDEM
	WHILE @@FETCH_STATUS = 0
	BEGIN
		SET @SCRIPT_INSERT_TRIGGER = @SCRIPT_INSERT_TRIGGER+'['+@COLUNA+'_OLD], ['+@COLUNA+'_NEW]
		, ';
		
		SET @SCRIPT_SELECT_TRIGGER_UPDATE = @SCRIPT_SELECT_TRIGGER_UPDATE+'[D].['+@COLUNA+'] AS ['+@COLUNA+'_OLD], [I].['+@COLUNA+'] AS ['+@COLUNA+'_NEW]
		, ';

		SET @SCRIPT_SELECT_TRIGGER_INSERT = @SCRIPT_SELECT_TRIGGER_INSERT+'NULL AS ['+@COLUNA+'_OLD], [I].['+@COLUNA+'] AS ['+@COLUNA+'_NEW]
		, ';		

		SET @SCRIPT_SELECT_TRIGGER_DELETE = @SCRIPT_SELECT_TRIGGER_DELETE+'[D].['+@COLUNA+'] AS ['+@COLUNA+'_OLD], NULL AS ['+@COLUNA+'_NEW]
		, ';
				
		FETCH NEXT FROM [INFO_TABELA] 
		INTO @TABELA
			,@COLUNA
			,@TIPO_CAMPO
			,@ORDEM
	END
	CLOSE [INFO_TABELA]
	DEALLOCATE [INFO_TABELA]
	
	SET @SCRIPT_INSERT_TRIGGER = SUBSTRING(@SCRIPT_INSERT_TRIGGER,1,LEN(@SCRIPT_INSERT_TRIGGER)-5);
	
	SET @SCRIPT_INSERT_TRIGGER = 'INSERT INTO dbo.'+@TABELA+'_AUDITORIA (
		[AUDITORIA_DB_NAME]
		, [AUDITORIA_DATA]
		, [AUDITORIA_TIPO]
		, [AUDITORIA_HOSTNAME]
		, [AUDITORIA_USUARIO]
		, [AUDITORIA_USUARIO_BD]
		, [AUDITORIA_IP_USUARIO]
		, [AUDITORIA_IP_CLIENTE]
		, [PROGRAM_NAME]
		, '+@SCRIPT_INSERT_TRIGGER+')';
	
	SET @SCRIPT_SELECT_TRIGGER_INSERT = SUBSTRING(@SCRIPT_SELECT_TRIGGER_INSERT,1,LEN(@SCRIPT_SELECT_TRIGGER_INSERT)-5);
	SET @SCRIPT_SELECT_TRIGGER_UPDATE = SUBSTRING(@SCRIPT_SELECT_TRIGGER_UPDATE,1,LEN(@SCRIPT_SELECT_TRIGGER_UPDATE)-5);
	SET @SCRIPT_SELECT_TRIGGER_DELETE = SUBSTRING(@SCRIPT_SELECT_TRIGGER_DELETE,1,LEN(@SCRIPT_SELECT_TRIGGER_DELETE)-5);

	SET @SCRIPT_SELECT_TRIGGER_INSERT = 'SELECT 
		@AUDITORIA_DB_NAME AS [AUDITORIA_DB_NAME]
		, @AUDITORIA_DATA AS [AUDITORIA_DATA]
		, 1 AS [AUDITORIA_TIPO]
		, @HOSTNAME AS [AUDITORIA_HOSTNAME]
		, @USUARIO AS [AUDITORIA_USUARIO]
		, @USUARIO_BD AS [AUDITORIA_USUARIO_BD]
		, @IP_USUARIO AS [AUDITORIA_IP_USUARIO]
		, @IP_CLIENTE AS [AUDITORIA_IP_CLIENTE]
		, @PROGRAM_NAME AS [PROGRAM_NAME]
		, '+@SCRIPT_SELECT_TRIGGER_INSERT;
	
	SET @SCRIPT_SELECT_TRIGGER_UPDATE = 'SELECT 
		@AUDITORIA_DB_NAME AS [AUDITORIA_DB_NAME]
		, @AUDITORIA_DATA AS [AUDITORIA_DATA]
		, 2 AS [AUDITORIA_TIPO]
		, @HOSTNAME AS [AUDITORIA_HOSTNAME]
		, @USUARIO AS [AUDITORIA_USUARIO]
		, @USUARIO_BD AS [AUDITORIA_USUARIO_BD]
		, @IP_USUARIO AS [AUDITORIA_IP_USUARIO]
		, @IP_CLIENTE AS [AUDITORIA_IP_CLIENTE]
		, @PROGRAM_NAME AS [PROGRAM_NAME]
		, '+@SCRIPT_SELECT_TRIGGER_UPDATE;

	SET @SCRIPT_SELECT_TRIGGER_DELETE = 'SELECT 
		@AUDITORIA_DB_NAME AS [AUDITORIA_DB_NAME]
		, @AUDITORIA_DATA AS [AUDITORIA_DATA]
		, 3 AS [AUDITORIA_TIPO]
		, @HOSTNAME AS [AUDITORIA_HOSTNAME]
		, @USUARIO AS [AUDITORIA_USUARIO]
		, @USUARIO_BD AS [AUDITORIA_USUARIO_BD]
		, @IP_USUARIO AS [AUDITORIA_IP_USUARIO]
		, @IP_CLIENTE AS [AUDITORIA_IP_CLIENTE]
		, @PROGRAM_NAME AS [PROGRAM_NAME]
		, '+@SCRIPT_SELECT_TRIGGER_DELETE;
	
	----PRINT @SCRIPT_INSERT_TRIGGER;			
	----PRINT @SCRIPT_SELECT_TRIGGER_INSERT;
	----PRINT @SCRIPT_SELECT_TRIGGER_UPDATE;

IF (@@VERSION LIKE 'Microsoft SQL Server 2000%')
OR  (@@VERSION LIKE 'Microsoft SQL Server 2005%')
OR  (@@VERSION LIKE 'Microsoft SQL Server 2008%')
BEGIN

	SET @TEMP = '
	IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N''[dbo].[AUDIT_'+REPLACE(@TABELA,'dbo.','')+'_INSERT]'') AND type in (N''TR''))
	BEGIN
		DROP TRIGGER [dbo].[AUDIT_'+REPLACE(@TABELA,'dbo.','')+'_INSERT];
	END;';
	----PRINT @TEMP
	EXEC (@TEMP);
	--PRINT '2'

	SET @SCRIPT_CRIA_TRIGGER='CREATE TRIGGER [dbo].[AUDIT_'+REPLACE(@TABELA,'dbo.','')+'_INSERT]'
END
ELSE
BEGIN
	SET @SCRIPT_CRIA_TRIGGER='CREATE OR ALTER TRIGGER [dbo].[AUDIT_'+REPLACE(@TABELA,'dbo.','')+'_INSERT]'
END

SET @SCRIPT_CRIA_TRIGGER+='
ON '+@TABELA+'
FOR INSERT AS 
BEGIN
	SET NOCOUNT ON;
	
	DECLARE @AUDITORIA_DB_NAME VARCHAR(MAX)
			,@AUDITORIA_DATA DATETIME
			,@HOSTNAME VARCHAR(200)
			,@USUARIO VARCHAR(14)
			,@USUARIO_BD VARCHAR(200)
			,@IP_CLIENTE VARCHAR(15)
			,@IP_USUARIO VARCHAR(15)
			,@PROGRAM_NAME VARCHAR(MAX)
			,@ORDEM INT;
			
	SET @AUDITORIA_DATA=GETDATE();

	SELECT 
		@IP_CLIENTE = [C].[CLIENT_NET_ADDRESS]
		,@USUARIO_BD = RTRIM(LTRIM([S].[LOGINAME]))
		,@PROGRAM_NAME = CASE
						WHEN [S].[PROGRAM_NAME] NOT like ''%[0-9]|[0-9]%'' THEN RTRIM(LTRIM([S].[PROGRAM_NAME]))
						ELSE ''''
						END
		,@HOSTNAME = RTRIM(LTRIM(S.HOSTNAME))
		,@USUARIO = CASE
					WHEN [S].[PROGRAM_NAME] like ''%[0-9]|[0-9]%''
					THEN RTRIM(LTRIM(SUBSTRING([S].[PROGRAM_NAME], 0, CHARINDEX(''|'', [S].[PROGRAM_NAME]))))
					ELSE ''''
					END
		,@IP_USUARIO = CASE
						WHEN [S].[PROGRAM_NAME] like ''%[0-9]|[0-9]%''
						THEN RTRIM(LTRIM(SUBSTRING([S].[PROGRAM_NAME], CHARINDEX(''|'', [S].[PROGRAM_NAME]) + 1, LEN([S].[PROGRAM_NAME]))))
						ELSE ''''
						END
		,@AUDITORIA_DB_NAME = DB_NAME()
	FROM SYS.DM_EXEC_CONNECTIONS C
	JOIN SYS.SYSPROCESSES S
		ON S.SPID = C.SESSION_ID
	WHERE C.SESSION_ID = @@SPID;

	IF LEN(LTRIM(@USUARIO)) = 0
	BEGIN
		SET @USUARIO = @IP_USUARIO;
	END;


	'+@SCRIPT_INSERT_TRIGGER+'
	'+@SCRIPT_SELECT_TRIGGER_INSERT+'
	FROM INSERTED I

END;'

----PRINT @SCRIPT_CRIA_TRIGGER;

EXEC (@SCRIPT_CRIA_TRIGGER);

IF (@@VERSION LIKE 'Microsoft SQL Server 2000%')
OR  (@@VERSION LIKE 'Microsoft SQL Server 2005%')
OR  (@@VERSION LIKE 'Microsoft SQL Server 2008%')
BEGIN

	SET @TEMP = 'IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N''[dbo].[AUDIT_'+REPLACE(@TABELA,'dbo.','')+'_UPDATE]'') AND type in (N''TR''))
	BEGIN
		DROP TRIGGER [dbo].[AUDIT_'+REPLACE(@TABELA,'dbo.','')+'_UPDATE];
	END;';

	EXEC (@TEMP);

	SET @SCRIPT_CRIA_TRIGGER='CREATE TRIGGER [dbo].[AUDIT_'+REPLACE(@TABELA,'dbo.','')+'_UPDATE]'
END
ELSE
BEGIN
	SET @SCRIPT_CRIA_TRIGGER='CREATE OR ALTER TRIGGER [dbo].[AUDIT_'+REPLACE(@TABELA,'dbo.','')+'_UPDATE]'
END

SET @SCRIPT_CRIA_TRIGGER+='
ON '+@TABELA+'
FOR UPDATE AS 
BEGIN
	SET NOCOUNT ON;
	
	DECLARE @AUDITORIA_DB_NAME VARCHAR(MAX)
			,@AUDITORIA_DATA DATETIME
			,@HOSTNAME VARCHAR(200)
			,@USUARIO VARCHAR(14)
			,@USUARIO_BD VARCHAR(200)
			,@IP_CLIENTE VARCHAR(15)
			,@IP_USUARIO VARCHAR(15)
			,@PROGRAM_NAME VARCHAR(MAX)
			,@ORDEM INT;
			
	SET @AUDITORIA_DATA=GETDATE();

	SELECT 
		@IP_CLIENTE = [C].[CLIENT_NET_ADDRESS]
		,@USUARIO_BD = [S].[LOGINAME]
		,@PROGRAM_NAME = CASE
						WHEN [S].[PROGRAM_NAME] NOT like ''%[0-9]|[0-9]%'' THEN [S].[PROGRAM_NAME]
						ELSE ''''
						END
		,@HOSTNAME = S.HOSTNAME
		,@USUARIO = CASE
					WHEN [S].[PROGRAM_NAME] like ''%[0-9]|[0-9]%''
					THEN SUBSTRING([S].[PROGRAM_NAME], 0, CHARINDEX(''|'', [S].[PROGRAM_NAME]))
					ELSE ''''
					END
		,@IP_USUARIO = CASE
						WHEN [S].[PROGRAM_NAME] like ''%[0-9]|[0-9]%''
						THEN SUBSTRING([S].[PROGRAM_NAME], CHARINDEX(''|'', [S].[PROGRAM_NAME]) + 1, LEN([S].[PROGRAM_NAME]))
						ELSE ''''
						END
		,@AUDITORIA_DB_NAME = DB_NAME()
	FROM SYS.DM_EXEC_CONNECTIONS C
	JOIN SYS.SYSPROCESSES S
		ON S.SPID = C.SESSION_ID
	WHERE C.SESSION_ID = @@SPID;

	IF LEN(LTRIM(@USUARIO)) = 0
	BEGIN
		SET @USUARIO = @IP_USUARIO;
	END;


	IF (UPDATE('+REPLACE(SUBSTRING(@CHAVE_PRIMARIA,1,LEN(@CHAVE_PRIMARIA)-1),', ',') 
		OR UPDATE(')+')) 
	BEGIN
		CREATE TABLE #INS
		(	ID_INS INT IDENTITY (1,1),
			'+SUBSTRING(@SCRIPT_TABELA_TEMPORARIA,1,LEN(@SCRIPT_TABELA_TEMPORARIA)-6)+'
		);
		
		CREATE TABLE #DEL
		(	ID_DEL INT IDENTITY (1,1),
			'+SUBSTRING(@SCRIPT_TABELA_TEMPORARIA,1,LEN(@SCRIPT_TABELA_TEMPORARIA)-6)+'
		);
		
		INSERT INTO #INS ('+SUBSTRING(@CHAVE_PRIMARIA,1,LEN(@CHAVE_PRIMARIA)-1)+')
		SELECT '+SUBSTRING(@CHAVE_PRIMARIA,1,LEN(@CHAVE_PRIMARIA)-1)+'
		FROM INSERTED;
		
		INSERT INTO #DEL ('+SUBSTRING(@CHAVE_PRIMARIA,1,LEN(@CHAVE_PRIMARIA)-1)+')
		SELECT '+SUBSTRING(@CHAVE_PRIMARIA,1,LEN(@CHAVE_PRIMARIA)-1)+'
		FROM DELETED;	
			
		'+@SCRIPT_INSERT_TRIGGER+'
		'+@SCRIPT_SELECT_TRIGGER_UPDATE+'
		FROM #INS TI
		JOIN #DEL TD
			ON TI.ID_INS = TD.ID_DEL
		JOIN INSERTED I
			ON '+REPLACE(@CHAVE_PRIMARIA_TRIGGER,'D.','TI.')+'
		JOIN DELETED D
			ON '+REPLACE(@CHAVE_PRIMARIA_TRIGGER,'I.','TD.')+';
	END;
	ELSE
	BEGIN
		'+@SCRIPT_INSERT_TRIGGER+'
		'+@SCRIPT_SELECT_TRIGGER_UPDATE+'
		FROM DELETED D
		JOIN INSERTED I
			ON '+@CHAVE_PRIMARIA_TRIGGER+';
	END;
END'
EXEC (@SCRIPT_CRIA_TRIGGER);

IF (@@VERSION LIKE 'Microsoft SQL Server 2000%')
OR  (@@VERSION LIKE 'Microsoft SQL Server 2005%')
OR  (@@VERSION LIKE 'Microsoft SQL Server 2008%')
BEGIN

	SET @TEMP = 'IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N''[dbo].[AUDIT_'+REPLACE(@TABELA,'dbo.','')+'_DELETE]'') AND type in (N''TR''))
	BEGIN
		DROP TRIGGER [dbo].[AUDIT_'+REPLACE(@TABELA,'dbo.','')+'_DELETE];
	END;';

	EXEC (@TEMP);

	SET @SCRIPT_CRIA_TRIGGER='CREATE TRIGGER [dbo].[AUDIT_'+REPLACE(@TABELA,'dbo.','')+'_DELETE]'
END
ELSE
BEGIN
	SET @SCRIPT_CRIA_TRIGGER='CREATE OR ALTER TRIGGER [dbo].[AUDIT_'+REPLACE(@TABELA,'dbo.','')+'_DELETE]'
END

SET @SCRIPT_CRIA_TRIGGER+='
ON '+@TABELA+'
FOR DELETE AS
BEGIN
	SET NOCOUNT ON;
	
	DECLARE @AUDITORIA_DB_NAME VARCHAR(MAX)
			,@AUDITORIA_DATA DATETIME
			,@HOSTNAME VARCHAR(200)
			,@USUARIO VARCHAR(14)
			,@USUARIO_BD VARCHAR(200)
			,@IP_CLIENTE VARCHAR(15)
			,@IP_USUARIO VARCHAR(15)
			,@PROGRAM_NAME VARCHAR(MAX)
			,@ORDEM INT;
			
	SET @AUDITORIA_DATA=GETDATE();

	SELECT 
		@IP_CLIENTE = [C].[CLIENT_NET_ADDRESS]
		,@USUARIO_BD = [S].[LOGINAME]
		,@PROGRAM_NAME = CASE
						WHEN [S].[PROGRAM_NAME] NOT like ''%[0-9]|[0-9]%'' THEN [S].[PROGRAM_NAME]
						ELSE ''''
						END
		,@HOSTNAME = S.HOSTNAME
		,@USUARIO = CASE
					WHEN [S].[PROGRAM_NAME] like ''%[0-9]|[0-9]%''
					THEN SUBSTRING([S].[PROGRAM_NAME], 0, CHARINDEX(''|'', [S].[PROGRAM_NAME]))
					ELSE ''''
					END
		,@IP_USUARIO = CASE
						WHEN [S].[PROGRAM_NAME] like ''%[0-9]|[0-9]%''
						THEN SUBSTRING([S].[PROGRAM_NAME], CHARINDEX(''|'', [S].[PROGRAM_NAME]) + 1, LEN([S].[PROGRAM_NAME]))
						ELSE ''''
						END
		,@AUDITORIA_DB_NAME = DB_NAME()
	FROM SYS.DM_EXEC_CONNECTIONS C
	JOIN SYS.SYSPROCESSES S
		ON S.SPID = C.SESSION_ID
	WHERE C.SESSION_ID = @@SPID;

	IF LEN(LTRIM(@USUARIO)) = 0
	BEGIN
		SET @USUARIO = @IP_USUARIO;
	END;


	'+@SCRIPT_INSERT_TRIGGER+'
	'+@SCRIPT_SELECT_TRIGGER_DELETE+'
	FROM DELETED D

END;'

----PRINT @SCRIPT_CRIA_TRIGGER;

EXEC (@SCRIPT_CRIA_TRIGGER);

DECLARE ORDEM_TRIGGER CURSOR FOR 
SELECT DISTINCT
	CASE
	WHEN systr.NAME LIKE '%UPDATE' THEN 'EXEC sp_settriggerorder @triggername=N''[dbo].['+systr.NAME+']'', @order=N''First'', @stmttype=N''UPDATE'';'
	WHEN systr.NAME LIKE '%INSERT' THEN 'EXEC sp_settriggerorder @triggername=N''[dbo].['+systr.NAME+']'', @order=N''First'', @stmttype=N''INSERT'';'
	WHEN systr.NAME LIKE '%DELETE' THEN 'EXEC sp_settriggerorder @triggername=N''[dbo].['+systr.NAME+']'', @order=N''First'', @stmttype=N''DELETE'';'
	END COMANDO
FROM syscomments sysco
JOIN sys.triggers systr ON systr.object_id = sysco.id
JOIN sysobjects O ON O.ID=sysco.id
WHERE OBJECT_DEFINITION(OBJECT_ID) like '%AUDITORIA%'
AND systr.NAME LIKE '%AUDIT_'+OBJECT_NAME(PARENT_OBJ)+'%'
AND OBJECT_NAME(PARENT_OBJ)=REPLACE(@TABELA,'DBO.','')

OPEN ORDEM_TRIGGER
FETCH NEXT FROM ORDEM_TRIGGER 
	INTO @COMANDO
WHILE @@FETCH_STATUS = 0
BEGIN
	EXEC (@COMANDO);
	
	FETCH NEXT FROM ORDEM_TRIGGER 
	INTO @COMANDO
END;
CLOSE ORDEM_TRIGGER;
DEALLOCATE ORDEM_TRIGGER;

END;




